body {
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.quiz {
    text-align: center;
    background-color: #fff;
    padding: 15px;
    margin-top: 40px;
    margin-bottom: 20px;

}

.skip {

    background-color: blue;
    color: #fff;
    font-size: 50px;
    font-weight: 800;
    display: block;
    margin-left: auto;
    font-size: 50px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}

.timer {
    border-radius: 50%;
    width: 100px;
    height: 100px;

}

.main {
    width: 800px;
    border-radius: 10px;
    box-shadow: 0px -1px 70px -1px rgba(0, 0, 0, 0.76);
    -webkit-box-shadow: 0px -1px 70px -1px rgba(0, 0, 0, 0.76);
    -moz-box-shadow: 0px -1px 70px -1px rgba(0, 0, 0, 0.76);
}

.answers {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 40px;
}

.btn {
    transition: 0.3;
    font-size: 65px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 50px;
    background-color: blue;
    border-radius: 10px;
    width: 700px;
    box-shadow: -2px -2px 58px 42px rgba(0, 0, 0, 0.73);
    -webkit-box-shadow: -2px -2px 58px 42px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: -2px -2px 58px 42px rgba(0, 0, 0, 0.73);
}

b {
    font-size: 50px;
    text-align: center;
}

.btn2 {
    background-color: red;
}

.btn:hover {
    opacity: 0.9;
}

.index3{
    text-decoration: none;
    color: black;
}

.in3{
    background-color: green;
}

.win{
    font-size: 150px;
    color: red;
}
.h1{
    text-align: center;

}

.index{
    display: block;
    margin: 0 auto;
    font-size: 75px;
background-color: yellow;
    text-decoration: none;
    color: black;
    text-align: center; 
}

.win{
    text-align: center;
}

.pl{
    width: 1200px;
    margin: 0 auto;
    display: block;
}

.sl{
    display: block;
    margin: 0 auto;
    width: 1200px;
}